<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shopOrder">
            <h2><span>Shop Order</span> {{shopOrder.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span ngbTooltip="fieldName">Order No</span></dt>
                <dd>
                    <span>{{shopOrder.orderNo}}</span>
                </dd>
                <dt><span>Total Money</span></dt>
                <dd>
                    <span>{{shopOrder.totalMoney}}</span>
                </dd>
                <dt><span>Shop</span></dt>
                <dd>
                    <div *ngIf="shopOrder.shop">
                        <a [routerLink]="['/shop', shopOrder.shop?.id, 'view']">{{shopOrder.shop?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shop-order', shopOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
