.main-toolbar-title {
  background-color: #990033
}

.menu-toolbar-title {
  background-color: #993333
}

.product-item {
  border-bottom: 1px dotted #900e3a;
  height: 10rem;
}

.content {
  --background: #f8f8f8;

}

.product-item-price-row {
  margin-top: 1rem;
  line-height: 30px;
  font-size: 1.4rem
}

.product-item-price {
  font-weight: 900;
  color: #900e3a
}

.product-item-sales {
  color: #925066;
}

.product-item-stock {
  color: #925066;
  margin-left: 0.5rem
}

.product-item-title {
  color: #900e3a;
  font-weight: 900;
  font-size: 1.5rem
}

.product-item-addspec {
  background: #ff9966;
  margin-top: 8px;
}

.icon-remove {
  color: #cccccc
}

.icon-add {

  color: #ff9966;

}

.searchbar {
  border-bottom: 1px solid #eee
}

.product-topbar {
  --background: #900e3a;
}

body,
html {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #900e3a;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: rgba(250, 125, 125, 0.767);
  position: fixed;
  bottom: 0px
}

.footer-btn-buy {
  position: fixed;
  bottom: 20px;
  right: 30px;
}

.footer-total-money {
  position: fixed;
  bottom: 33px;
  right: 80px;
  color: #990033;
  font-weight: 800;
  font-size: 2rem
}