<div #app>
  <!--头部 start-->
  <ul class="nav nav-pills topbar border-bottom" #topbar >

    <li class="nav-item">
      <a href="#" class="nav-link">热销</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle"
       data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">分类</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Action</a>
      </div>
    </li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="tab1Id" role="tabpanel"></div>
    <div class="tab-pane fade" id="tab2Id" role="tabpanel"></div>
    <div class="tab-pane fade" id="tab3Id" role="tabpanel"></div>
    <div class="tab-pane fade" id="tab4Id" role="tabpanel"></div>
    <div class="tab-pane fade" id="tab5Id" role="tabpanel"></div>
  </div>
  
  <script>
    $('#navId a').click(e => {
      e.preventDefault();
      $(this).tab('show');
    });
  </script>



  <!--头部 end-->
  
  <div fxLayout="row warp" class="main" #main fxLayoutAlign="start start" fxLayoutGap="gappx">
    <table class="table">
      <tbody>
      <tr>
          <td class="border-right">
            <a [routerLink]="[ '/product/details', 1 ]">
              <img src="http://placehold.it/120x120/" style="width:100%" class="rounded mx-auto d-block" alt="...">
            </a>
            <div class="float-left" style="line-height:18px">
              <small class="text-secondary">月销 20</small>
              <br>
              <small class="text-secondary">库存 20</small>
              <br>
              <small class="text-danger"><i class="fa fa-jpy pr-1" aria-hidden="true"></i>10</small>
            </div>
            <div class="float-right">
              <i class="fa fa-plus-circle text-warning mt-2" style="font-size:1.3rem" aria-hidden="true"></i>
            </div>
          </td>
  
          <td class="border-right">
            <a [routerLink]="[ '/product/details', 1 ]">
              <img src="http://placehold.it/120x120/" style="width:100%" class="rounded mx-auto d-block" alt="...">
            </a>
            <div class="float-left" style="line-height:18px">
              <small class="text-secondary">月销 20</small>
              <br>
              <small class="text-secondary">库存 20</small>
              <br>
              <small class="text-danger"><i class="fa fa-jpy pr-1" aria-hidden="true"></i>10</small>
            </div>
            <div class="float-right">
              <span class="badge badge-pill badge-warning text-light mt-2">规格</span>
            </div>
          </td>
        </tr>
      <tr>
          <td class="border-right">
            <a [routerLink]="[ '/product/details', 1 ]">
              <img src="http://placehold.it/120x120/" style="width:100%" class="rounded mx-auto d-block" alt="...">
            </a>
            <div class="float-left" style="line-height:18px">
              <small class="text-secondary">月销 20</small>
              <br>
              <small class="text-secondary">库存 20</small>
              <br>
              <small class="text-danger"><i class="fa fa-jpy pr-1" aria-hidden="true"></i>10</small>
            </div>
            <div class="float-right">
              <i class="fa fa-plus-circle text-warning mt-2" style="font-size:1.3rem" aria-hidden="true"></i>
            </div>
          </td>
  
          <td class="border-right">
            <a [routerLink]="[ '/product/details', 1 ]">
              <img src="http://placehold.it/120x120/" style="width:100%" class="rounded mx-auto d-block" alt="...">
            </a>
            <div class="float-left" style="line-height:18px">
              <small class="text-secondary">月销 20</small>
              <br>
              <small class="text-secondary">库存 20</small>
              <br>
              <small class="text-danger"><i class="fa fa-jpy pr-1" aria-hidden="true"></i>10</small>
            </div>
            <div class="float-right">
              <i class="fa fa-plus-circle text-warning mt-2" style="font-size:1.3rem" aria-hidden="true"></i>
            </div>
          </td>
        </tr>
        <tr>
          <td class="border-right">
            <a [routerLink]="[ '/product/details', 1 ]">
              <img src="http://placehold.it/120x120/" style="width:100%" class="rounded mx-auto d-block" alt="...">
            </a>
            <div class="float-left" style="line-height:18px">
              <small class="text-secondary">月销 20</small>
              <br>
              <small class="text-secondary">库存 20</small>
              <br>
              <small class="text-danger"><i class="fa fa-jpy pr-1" aria-hidden="true"></i>10</small>
            </div>
            <div class="float-right">
              <i class="fa fa-plus-circle text-warning mt-2" style="font-size:1.3rem" aria-hidden="true"></i>
            </div>
          </td>
  
          <td class="border-right">
            <a [routerLink]="[ '/product/details', 1 ]">
              <img src="http://placehold.it/120x120/" style="width:100%" class="rounded mx-auto d-block" alt="...">
            </a>
            <div class="float-left" style="line-height:18px">
              <small class="text-secondary">月销 20</small>
              <br>
              <small class="text-secondary">库存 20</small>
              <br>
              <small class="text-danger"><i class="fa fa-jpy pr-1" aria-hidden="true"></i>10</small>
            </div>
            <div class="float-right">
              <i class="fa fa-plus-circle text-warning mt-2" style="font-size:1.3rem" aria-hidden="true"></i>
            </div>
          </td>
        </tr>
  
      </tbody>
    </table>
    <div class="alert alert-secondary mb-5" role="alert">
      <strong>没有更多</strong>
    </div>
  
  </div>
  <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="gappx" style="background: rgba(0,0,0,0.4);position:fixed; bottom:0;width:100% ">
    <div class="col-7 text-center">
  
    </div>
    <div class="col-5">
      <button type="button" style="width:100%;" class="btn btn-warning float-right" data-toggle="modal" data-target="#exampleModalCenter">
        结账
      </button>
  
    </div>
  
  
  
  
  </div>
  
  
  
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header p-1">
          <h5 class="modal-title" id="exampleModalLongTitle">购物车</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="" #cartlist style="overflow-y:auto">
          <table class="table table-sm">
            <tbody>
              <tr>
                <td scope="row">
                  <h6 class="m-0">卡布奇诺</h6><small>(加热)</small>
                </td>
                <td> <i class="fa fa-jpy" aria-hidden="true"></i>13</td>
                <td style="width:6rem;font-size: 1.5rem">
                  <i class="fa fa-minus-square-o text-secondary" aria-hidden="true"></i>
                  2
                  <i class="fa fa-plus-square-o text-warning" aria-hidden="true"></i>
                </td>
              </tr>
              <tr>
                <td scope="row">
                  <h6 class="m-0">卡布奇诺</h6><small>(加热)</small>
                </td>
                <td> <i class="fa fa-jpy" aria-hidden="true"></i>13</td>
                <td style="width:6rem;font-size: 1.5rem">
                  <i class="fa fa-minus-circle text-secondary" aria-hidden="true"></i>
                  2
                  <i class="fa fa-plus-circle text-warning" aria-hidden="true"></i>
                </td>
              </tr>
  
              <tr>
                <td scope="row">
                  <h6 class="m-0">卡布奇诺</h6><small>(加热)</small>
                </td>
                <td> <i class="fa fa-jpy" aria-hidden="true"></i>13</td>
                <td style="width:6rem;font-size: 1.5rem">
                  <i class="fa fa-minus-circle text-secondary" aria-hidden="true"></i>
                  2
                  <i class="fa fa-plus-circle text-warning" aria-hidden="true"></i>
                </td>
              </tr>
  
              <tr>
                <td scope="row">
                  <h6 class="m-0">卡布奇诺</h6><small>(加热)</small>
                </td>
                <td> <i class="fa fa-jpy" aria-hidden="true"></i>13</td>
                <td style="width:6rem;font-size: 1.5rem">
                  <i class="fa fa-minus-circle text-secondary" aria-hidden="true"></i>
                  2
                  <i class="fa fa-plus-circle text-warning" aria-hidden="true"></i>
                </td>
              </tr>
  
              <tr>
                <td scope="row">
                  <h6 class="m-0">卡布奇诺</h6><small>(加热)</small>
                </td>
                <td> <i class="fa fa-jpy" aria-hidden="true"></i>13</td>
                <td style="width:6rem;font-size: 1.5rem">
                  <i class="fa fa-minus-circle text-secondary" aria-hidden="true"></i>
                  2
                  <i class="fa fa-plus-circle text-warning" aria-hidden="true"></i>
                </td>
              </tr>
  
            </tbody>
          </table>
        </div>
        <div class="modal-footer text-center p-0">
  
          <div class="btn-group btn-group-xs" role="group" style="width:100%" aria-label="">
            <button type="button" class="btn btn-outline-danger">
              清空</button>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"> 关闭</button>
  
            <button type="button" class="btn btn-outline-info">预定</button>
            <button type="button" class="btn btn-warning">立即支付</button>
  
  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </div>