div {}

.topbar {
  color: white;
  padding: 0.3rem;
  position: fixed;
  top: 0;
  width: 100%;
  background: #3f51b5;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  z-index: 9999;
}

.main {
  z-index: -9999;
}

.main-items {
  padding-top: 1rem;
}

.main-item {
  padding: 0.4rem;
}

.main-header {

  background: #3f51b5;
  height: 4rem;
  color: aliceblue
}
