<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderDetails">
            <h2><span>Order Details</span> {{orderDetails.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="orderDetails.product">
                        <a [routerLink]="['/product', orderDetails.product?.id, 'view']">{{orderDetails.product?.id}}</a>
                    </div>
                </dd>
                <dt><span>Specs</span></dt>
                <dd>
                    <div *ngIf="orderDetails.specs">
                        <a [routerLink]="['/specs', orderDetails.specs?.id, 'view']">{{orderDetails.specs?.id}}</a>
                    </div>
                </dd>
                <dt><span>Shop Order</span></dt>
                <dd>
                    <div *ngIf="orderDetails.shopOrder">
                        <a [routerLink]="['/shop-order', orderDetails.shopOrder?.id, 'view']">{{orderDetails.shopOrder?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-details', orderDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
