<div class="container">
  <div class="row ">
    <div class="col-xs-3">
      <div class="btn-group-vertical" role="group" aria-label="">
        <button type="button" class="btn  btn-light">aaa</button>
        <button type="button" class="btn btn-light">bbb</button>
        <button type="button" class="btn btn-light">ccc</button>
        <button type="button" class="btn btn-light">ddd</button>
      </div>
    </div>
    <div class="col-xs-9">
      <ul class="list-unstyled">
        <li class="media">
          <a class="d-flex" href="#">
            <img src="" alt="">
          </a>
          <div class="media-body">
            <h5>Media heading</h5>
            Media text
          </div>
        </li>
        <li class="media">
          <a class="d-flex" href="#">
            <img src="" alt="">
          </a>
          <div class="media-body">
            <h5>Media heading</h5>
            Media text
          </div>
        </li>
        <li class="media">
          <a class="d-flex" href="#">
            <img src="" alt="">
          </a>
          <div class="media-body">
            <h5>Media heading</h5>
            Media text
          </div>
        </li>
      </ul>

    </div>

  </div>
  <div class="row toolbar">
    kdk
  </div>

</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
