<div class="container">
  <div class="row justify-content-start">
  </div>
  <div class="row">
    <div class="col-3">
      <div class="btn-group-vertical" role="group" aria-label="">
        <button type="button" class="btn  btn-light">aaa</button>
        <button type="button" class="btn btn-light">bbb</button>
        <button type="button" class="btn btn-light">ccc</button>
        <button type="button" class="btn btn-light">ddd</button>
      </div>
    </div>
    <div class="col-9">
      <ul class="list-unstyled">
        <li class="media">
          <a class="d-flex" href="#">
            <img src="" alt="">
          </a>
          <div class="media-body">
            <h5>Media heading</h5>
            Media text
          </div>
        </li>
        <li class="media">
          <a class="d-flex" href="#">
            <img src="" alt="">
          </a>
          <div class="media-body">
            <h5>Media heading</h5>
            Media text
          </div>
        </li>
        <li class="media">
          <a class="d-flex" href="#">
            <img src="" alt="">
          </a>
          <div class="media-body">
            <h5>Media heading</h5>
            Media text
          </div>
        </li>
      </ul>

    </div>

  </div>
  <div class="row toolbar">
      <a name="" id="" class="btn btn-outline-primary" href="#" role="button">
        <i class="fa fa-shopping-cart" style="font-size:2em" aria-hidden="true"></i>
      </a>
      <i class="fa fa-jpy" aria-hidden="true"></i> 30.4
      <button type="button" class="btn btn-outline-primary">提交</button>
  </div>

</div>
<div class="container">
  <router-outlet></router-outlet>
</div>