<div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="gappx" style="height:100%">
  <div fxFlex="59%">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
      <div *ngFor="let item of products" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
        <div fxFlex="41%">

          <img style="width: 100%" src="{{item.thumbnail}}" alt="" srcset="">

        </div>
        <div fxFlex="59%">
          <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">
            <p>
              {{item.name}}
            </p>
            <p>
              {{item.description}}
              <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">

                <i class="fa fa-minus-square-o" aria-hidden="true"></i>
                <span>
                  0
                </span>
                <i class="fa fa-plus-square-o" aria-hidden="true"></i>

              </div>
          </div>

        </div>

      </div>


    </div>
  </div>
  <div fxFlex="41%" style="height: 100%">
    <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="0px" style="height: 100%">
      <div fxFlex="59%">
        <button type="button" class="btn btn-outline-primary" *ngFor="let item of categories">{{item.name}}</button>

      </div>
      <div fxFlex="41%">
        <button type="button" class="btn btn-outline-primary" (click)="openCartModal()">下单</button>
      </div>
    </div>
  </div>
</div>
<app-cart *ngIf="showCart" class="cart-modal" (hide_emitter)="closeCartModal()"></app-cart>
