<div>
    <h2 id="page-heading">
        <span>Order Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-details" [routerLink]="['/order-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Order Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="orderDetails">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Product</span></th>
            <th><span>Specs</span></th>
            <th><span>Shop Order</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderDetails of orderDetails ;trackBy: trackId">
                <td><a [routerLink]="['/order-details', orderDetails.id, 'view' ]">{{orderDetails.id}}</a></td>
                <td>
                    <div *ngIf="orderDetails.product">
                        <a [routerLink]="['../product', orderDetails.product?.id, 'view' ]" >{{orderDetails.product?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orderDetails.specs">
                        <a [routerLink]="['../specs', orderDetails.specs?.id, 'view' ]" >{{orderDetails.specs?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orderDetails.shopOrder">
                        <a [routerLink]="['../shop-order', orderDetails.shopOrder?.id, 'view' ]" >{{orderDetails.shopOrder?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/order-details', orderDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-details', orderDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'order-details', { outlets: { popup: orderDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
