<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx" style="height:100%">
  <div fxFlex="20%" style="height:100%">
    <mat-list>
      <mat-list-item><button mat-button>text</button></mat-list-item>
      <mat-list-item><button mat-button>text</button></mat-list-item>
      <mat-list-item><button mat-button>text</button></mat-list-item>
      <mat-list-item><button mat-button>text</button></mat-list-item>
      <mat-list-item><button mat-button>text</button></mat-list-item>
    </mat-list>


  </div>

  <div fxFlex="80%" style="height:100%;overflow-y: auto;">
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>
    <p>kdkdkyyy</p>

  </div>

</div>
